/SSM_Project/build/
/SSM_Project/dist/
/SSM_Project/nbproject/
/SSM_Project/nbproject/build-impl.xml
/SSM_Project/nbproject/genfiles.properties
/SSM_Project/nbproject/project.properties
/SSM_Project/nbproject/project.xml
/SSM_Project/nbproject/private/
/SSM_Project/nbproject/private/private.xml
/SSM_Project/build.xml