<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>thupnm.controllers.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserController</servlet-name>
        <servlet-class>thupnm.controllers.ShowUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>thupnm.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoController</servlet-name>
        <servlet-class>thupnm.controllers.UpdateInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBasicInfo</servlet-name>
        <servlet-class>thupnm.controllers.UpdateBasicInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>thupnm.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>thupnm.controllers.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminController</servlet-name>
        <servlet-class>thupnm.controllers.AddAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCategoryController</servlet-name>
        <servlet-class>thupnm.controllers.ShowCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>thupnm.controllers.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCategoriesController</servlet-name>
        <servlet-class>thupnm.controllers.GetAllCategoriesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInfoCategory</servlet-name>
        <servlet-class>thupnm.controllers.ViewInfoCategory</servlet-class>
    </servlet>
    <!--kiet pt-->
    <servlet>
        <servlet-name>LoginCusController</servlet-name>
        <servlet-class>kietpt.controller.LoginCusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCusController</servlet-name>
        <servlet-class>kietpt.controller.RegisterCusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerController</servlet-name>
        <servlet-class>kietpt.controller.UpdateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassCustomer</servlet-name>
        <servlet-class>kietpt.controller.ChangePassCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListCategory</servlet-name>
        <servlet-class>kietpt.controller.GetListCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListHotProduct</servlet-name>
        <servlet-class>kietpt.controller.GetListHotProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductListByCateId</servlet-name>
        <servlet-class>kietpt.controller.GetProductListByCateId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCusController</servlet-name>
        <servlet-class>kietpt.controller.OrderCusController</servlet-class>
    </servlet>
    <!--Minh test-->
    <servlet>
        <servlet-name>AddImg</servlet-name>
        <servlet-class>minhhy.controller.AddImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductDetail</servlet-name>
        <servlet-class>thupnm.controllers.ShowProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductController</servlet-name>
        <servlet-class>thupnm.controllers.ShowProductController</servlet-class>
    </servlet>
    <!--Thupnm-->
    <servlet>
        <servlet-name>ShowProfileController</servlet-name>
        <servlet-class>thupnm.controllers.ShowProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>thupnm.controllers.SearchProductController</servlet-class>
    </servlet>
    <!--End Thupnm-->
    <servlet>
        <servlet-name>LoginCusMobileController</servlet-name>
        <servlet-class>kietpt.controller.LoginCusMobileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListOrderedCus</servlet-name>
        <servlet-class>kietpt.controller.GetListOrderedCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderDetailCus</servlet-name>
        <servlet-class>kietpt.controller.GetOrderDetailCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListCanceledOrderCus</servlet-name>
        <servlet-class>kietpt.controller.GetListCanceledOrderCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderedCus</servlet-name>
        <servlet-class>kietpt.controller.ConfirmOrderedCus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBarcode</servlet-name>
        <servlet-class>kietpt.controller.GetBarcode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddImg</servlet-name>
        <url-pattern>/AddImg</url-pattern>
    </servlet-mapping>
    <!--End Minh test-->
    <servlet>
        <servlet-name>AddAndUpdateCategory</servlet-name>
        <servlet-class>thupnm.controllers.AddAndUpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusCategory</servlet-name>
        <servlet-class>thupnm.controllers.ChangeStatusCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoryController</servlet-name>
        <servlet-class>thupnm.controllers.SearchCategoryController</servlet-class>
    </servlet>
    <!--kiet pt mapping-->
    <servlet-mapping>
        <servlet-name>LoginCusController</servlet-name>
        <url-pattern>/LoginCusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCusController</servlet-name>
        <url-pattern>/RegisterCusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerController</servlet-name>
        <url-pattern>/UpdateCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassCustomer</servlet-name>
        <url-pattern>/ChangePassCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCategoryController</servlet-name>
        <url-pattern>/ShowCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListCategory</servlet-name>
        <url-pattern>/GetListCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListHotProduct</servlet-name>
        <url-pattern>/GetListHotProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductListByCateId</servlet-name>
        <url-pattern>/GetProductListByCateId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCusController</servlet-name>
        <url-pattern>/OrderCusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCategoriesController</servlet-name>
        <url-pattern>/GetAllCategoriesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInfoCategory</servlet-name>
        <url-pattern>/ViewInfoCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAndUpdateCategory</servlet-name>
        <url-pattern>/AddAndUpdateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBasicInfo</servlet-name>
        <url-pattern>/UpdateBasicInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoController</servlet-name>
        <url-pattern>/UpdateInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusCategory</servlet-name>
        <url-pattern>/ChangeStatusCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserController</servlet-name>
        <url-pattern>/ShowUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoryController</servlet-name>
        <url-pattern>/SearchCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductDetail</servlet-name>
        <url-pattern>/ShowProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductController</servlet-name>
        <url-pattern>/ShowProductController</url-pattern>
    </servlet-mapping>
    <!--Thupnm-->
    <servlet-mapping>
        <servlet-name>ShowProfileController</servlet-name>
        <url-pattern>/ShowProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProductController</url-pattern>
    </servlet-mapping>
    <!--End Thupnm-->
    <servlet-mapping>
        <servlet-name>LoginCusMobileController</servlet-name>
        <url-pattern>/LoginCusMobileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListOrderedCus</servlet-name>
        <url-pattern>/GetListOrderedCus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderDetailCus</servlet-name>
        <url-pattern>/GetOrderDetailCus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListCanceledOrderCus</servlet-name>
        <url-pattern>/GetListCanceledOrderCus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderedCus</servlet-name>
        <url-pattern>/ConfirmOrderedCus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBarcode</servlet-name>
        <url-pattern>/GetBarcode</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Thupnm@222</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <!-- The mapping for the Set Character Encoding Filter -->
    <filter-mapping>
        <filter-name>setCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
