<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginCusController</servlet-name>
        <servlet-class>kietpt.controller.LoginCusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCusController</servlet-name>
        <servlet-class>kietpt.controller.RegisterCusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerController</servlet-name>
        <servlet-class>kietpt.controller.UpdateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassCustomer</servlet-name>
        <servlet-class>kietpt.controller.ChangePassCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListCategory</servlet-name>
        <servlet-class>kietpt.controller.GetListCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListHotProduct</servlet-name>
        <servlet-class>kietpt.controller.GetListHotProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductListByCateId</servlet-name>
        <servlet-class>kietpt.controller.GetProductListByCateId</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginCusController</servlet-name>
        <url-pattern>/LoginCusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCusController</servlet-name>
        <url-pattern>/RegisterCusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerController</servlet-name>
        <url-pattern>/UpdateCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassCustomer</servlet-name>
        <url-pattern>/ChangePassCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListCategory</servlet-name>
        <url-pattern>/GetListCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListHotProduct</servlet-name>
        <url-pattern>/GetListHotProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductListByCateId</servlet-name>
        <url-pattern>/GetProductListByCateId</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
